<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Grad School</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" />
    <link rel="stylesheet" href="~/new/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/new/css/templatemo-grad-school.css" />
    <link rel="stylesheet" href="~/new/css/owl.css" />
    <link rel="stylesheet" href="~/new/css/lightbox.css" />
    <link rel="stylesheet" href="~/new/css/style.css" />

    <base href="~/" />
</head>
<body>
    <header class="main-header clearfix" role="header" style="display: flex">
        <div class="logo">
            <a asp-action="Index" asp-controller="Admin"><em>Tutor</em> Management</a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <div style="display: flex;margin-right: 60px; margin-left: auto;">
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
                <li><a asp-action="Index" asp-controller="Admin">Home</a></li>
                <li>
                    <a asp-action="StudentList" asp-controller="Admin">Student</a>
                </li>
                <li>
                    <a asp-action="CourseList" asp-controller="Admin">Course</a>
                </li>
                <li>
                    <a asp-action="UserList" asp-controller="Admin">User</a>
                </li>
                <li><a asp-action="Index" asp-controller="Home">User View</a></li>
                
            </ul>
            
        </nav>
        
            <form asp-controller="Authen" asp-action="Logout" method="post" class="logoutform" style="display: flex; margin: auto;">
                <button type="submit" class="navbtn logout">Log Out</button>
            </form>
        </div>
    </header>
    @RenderBody()



    <script src="~/new/vendor/jquery/jquery.min.js"></script>

    <script src="~/new/js/owl-carousel.js"></script>
    <script src="~/new/js/video.js"></script>
    <script src="~/new/js/slick-slider.js"></script>
    <script src="~/new/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
