@{
    ViewData["PageName"] = "Access Denied";
}
<div class="alert alert-warning text-center mt-5" style="margin-top: 80px !important;">
    <h2>🔐 Access Denied</h2>
    <p>Please! return to <a asp-controller="Home" asp-action="Index">Home Page</a>.</p>
</div>