@{
    ViewData["PageName"] = "Need Login";
}

<div class="alert alert-warning text-center mt-5">
    <h2>🔐 You need to login to access</h2>
    <p>Please! <a asp-controller="Authen" asp-action="Login">Login</a> or return to <a asp-controller="Home" asp-action="Index">Home Page</a>.</p>
</div>