@{
    Layout = "_UnLoginLayout";
}
@model CourseManagement.Models.User;
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="~/new/assets/images/course-video.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay header-text ">
        <div class="caption d-flex justify-content-center">
            <div class="login-form">
                <div class="text-center">
                    <h3 class="text-white fw-bold" style="margin: 30px"><span class="text-primary" style="color: #f5a425 !important;">Verify</span> your Email</h3>
                </div>

                <form asp-controller="Authen" asp-action="VerifyOTP" method="post">
                    <div class="mb-3 input-group" style="margin-top: 30px">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                        <input type="text" class="form-control" name="otp" required placeholder="Enter OTP" />
                    </div>
                    
                    <button type="submit" class="btn btn-warning w-100 text-white fw-bold" style="margin-top: 30px"><i class="fa-solid fa-circle-check"></i> Verify</button>
                </form>

                <p class="login-link text-light fw-bold" style="margin-top: 30px">Already have an account? <a asp-action="Login" asp-controller="Authen"> Login</a></p>
                <p class="login-link text-light fw-bold" style="margin-top: 30px; margin-bottom: 0px;">If you don’t receive the OTP within a few minutes,</p> 
                <p class="login-link text-light fw-bold" >please double-check your email address or <a asp-action="EmailVerify" asp-controller="Authen"> try a different mail</a></p>
            </div>
        </div>
    </div>
</section>


