@{
    ViewData["PageName"] = "Welcome";
    Layout = "_UnLoginLayout";
}



<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="~/new/assets/images/course-video.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay header-text">
        <div class="caption">
            <h6>Best For Management</h6>
            <h2><em>Your</em> Classroom</h2>
            <div class="main-button">
                <div class="scroll-to-section"><a asp-action="Login" asp-controller="Authen">Discover more</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="features-post">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-pencil"></i>Manage Courses</h4>
                        </div>
                        <div class="content-hide">
                            <p>Create, update, and organize courses flexibly by class, subject, or custom schedules.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12">
                <div class="features-post second-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-graduation-cap"></i>Manage Students</h4>
                        </div>
                        <div class="content-hide">
                            <p>Easily track student profiles, attendance, performance, and send notifications in just a few clicks.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12">
                <div class="features-post third-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa-solid fa-money-bill-transfer"></i>Manage Income</h4>
                        </div>
                        <div class="content-hide">
                            <p>Manage tuition fees, transactions, and financial history clearly and efficiently.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

